YOUR OUTPUT SHOULD BE AS FOLLOWS:
{% if not use_reduced_prompts %}
{% include 'output-description/step-by-step-explanation.j2' %}
{% include 'output-description/all-possible-snippets.j2' %}
{% include 'output-description/ordering.j2' %}
{% include 'output-description/output-format.j2' %}
{% include 'output-description/no-comments-in-code-blocks.j2' %}
{% include 'output-description/number-of-statements.j2' %}
{% else %}
{% include 'output-description/ordering.j2' %}
{% endif %}