{% if use_reduced_prompts %}
Translate the following {{src_language}} snippet into a semantically equivalent {{tar_language}} snippet(s):
```
{{program_to_translate}}
```
{% else %}
Translate the following {{src_language}} snippet into a semantically equivalent {{tar_language}} snippet(s):
```{{src_language}}
{{program_to_translate}}
```
{% endif %}