The following snippet of {{src_language}} code
```
{{src_snippet_to_translate}}
```
appears in the following context (in other words, it is a piece of the following larger snippet of {{src_language}} code)
```
{{src_snippet_context}}
```

Your task is to translate this snippet into a semantically equivalent snippet of {{tar_language}} code. Place the translation of
```
{{src_snippet_to_translate}}
```
into
```
{{tar_partial_program}}
```
by replacing `{{variable_to_replace}}` with the translation.