* **Context preservation**:
  Everything outside of `{{variable_to_replace}}` is a context. CONTEXT HAS TO STAY UNCHANGED.
  Only `{{variable_to_replace}}` inside needs to be replaced by the translation . The rest of the code has to remain untouched.
  I repeat, only `{{variable_to_replace}}` needs to be replaced. The rest of the code has to remain untouched.
  Do not add or remove any whitespace characters, commas, periods or any other symbols. Replace only `{{variable_to_replace}}`. You must include the context in your response.