* **Order of the translated {{tar_language}} snippets**:
  When providing multiple translated {{tar_language}} snippets, sort them in the following order:
  the most obvious and straightforward translation first,
  followed by translations that involve more complex handling of variable data types or structures.