* **Output format**:
  Each {{tar_language}} translation should be placed in a separate code block surrounded by ```triple backticks```.
  ```triple backticks``` must be used for final translations only. Use `single backtick` in all other cases if necessary.
  Put explanation or comments outside of ```triple backticks``` code block.