* If the {{tar_language}} translation is a compound statement like `if_statement`, `while_statement`,
  or `for_statement`, you must use braces "{{'{'}}" and "{{'}'}}" to denote the body of the compound statement.